body {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: white;
    margin-bottom: 5cm;
    height: 100%;
}

.text {
    text-align: center;
    line-height: 50px;
    margin: auto;
    color: black;
    font-family: 'Zen Dots', Times, serif;
    font-size: 300%;
}

.ttext {
    text-align: center;
    line-height: 50px;
    margin: auto;
    color: black;
    font-family: 'Zen Dots', Times, serif;
    font-size: 150%;
}

.title {
    text-align: center;
    font: bolder;
    font-family: 'Zen Dots', serif;
    font-size: 900%;
    color: black;
    margin: auto;
}

.icon {
    display: block;
    margin: 0px auto;
}

.smicon {
    width: 50px;
    height: 50px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: end;
}

@media(max-width: 800px) {
    .title {
        text-align: center;
        font: bolder;
        font-family: 'Zen Dots', serif;
        font-size: 400%;
        color: black;
        margin: auto;
    }

    .text {
        text-align: center;
        line-height: 30px;
        margin: auto;
        color: black;
        font-family: 'Zen Dots', Times, serif;
        font-size: 200%;
    }

    .icon {
        display: block;
        margin: 0px auto;
        width: 30%;
    }

    th {
        display: none;
    }

    td {
        display: block;
    }

    .table-no-border tbody tr td:not(:last-child) {
        border-bottom: none;
    }
}